<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="fav.png">
<link rel="apple-touch-icon" sizes="180x180" href="icon.png">
<title>ページのタイトル</title>
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel"canonical" href="ここに正規化するURL" />
<meta name="description" content="ページの解説">
<meta name="author" content="ページの製作者の名前">
<meta property='og:locale' content="ja_JP">
<meta property="fb:app_id" content="Facebook App ID" />
<meta property='og:site_name' content="サイトのタイトル">
<meta property='og:title' content="ページのタイトル">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="ページのツイッターアカウント">
<meta name="twitter:creator" content="ページコンテンツ製作者のツイッターアカウント">
<meta property="og:description" content="ページの解説">
<meta property="og:url" content="ページのURL">
<meta property="og:type" content="website">
<meta property="og:image" content="シェアされたときに表示する画像">
<script type='text/javascript' src='assets/js/script.js' defer></script>
</head>

<body>

<header class="header">
<!-- /.header --></header>

<nav class="gnav">
<!-- /.gnav --></nav>

<main>
</main>

<footer class="footer">
<!-- /.footer --></footer>

</body>
</html>

<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
